* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* navbar */
.navbar {
    width: 100%;
}
.nav-item .nav-link{
    color: #fff;
}
.container-fluid{
    background-color: #004b34;
}
.form-control {
    padding: 0% 40px;
}
.btn-outline-success{
    border-color: #004b34;
    background: #004b34;
    color: #fff;;
    border-radius: 21px;
    padding: 12px 63px;
    /* overflow: hidden; */
    transition: 0.3ms;
    cursor: pointer;
}
.btn-outline-success:hover{
    background-color: rgba(145, 235, 145, 0.445);
}

.carousel-inner img{
    width: 100%;
}

.card-medica{
    margin: 50px;
}
/* card-medica */
.btn-primary{
    border-color: #004b34;
    background: #004b34;
    color: #fff;
}

/* foote */

footer {
    width: 100%;
    background: #202020;
    color: white;
    /* padding: 30px; */
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body-footer{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}

.column1 > h1 {
    font-size: 22px;
}

.column1 > p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}
.column2 {
    max-width: 400px;
}

.column2 > h1 {
    font-size: 22px;
}

.column2 .row {
    margin-top: 20px;
    display: flex;
}

.row > img{
    width: 50px;
    /* height: 36px; */
}
.row > label {
    margin-top: -25px;
    margin-left: 35px;
    color: #C7C7C7;
}

.column3 {
    max-width: 400px;
}

.column3 > h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 > img {
    width: 36px;
    height: 36px;

}

.row2 > label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    max-width: 100%;
    background: #101010;
    
    padding: 20px;
}
.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information > a{
    text-decoration: none;
    color: #c7c7c7;
}

@media screen and (max-width: 1100px) {
    .container-body-footer{
        flex-wrap: wrap;
    }

    .column1{
        margin-top: 100%;
    }

    .column2, .column3 {
        margin-top: 40px;
    }
    
}

/* https://www.youtube.com/watch?v=mSh2yWLk4eU
44:58 */